<li class="list-group-item check-list-name">Check List 1</li>
<li class="list-group-item check-list-name">Check List 2</li>
<li class="list-group-item check-list-name">Check List 3</li>
<li class="list-group-item check-list-name">Check List 4</li>
<li class="list-group-item check-list-name">Check List 5</li>