<div class="row task">
    <div class="col-md-1 check">
        <div class="radio">
             <input type="checkbox" class="complete-checkbox">
        </div>
     </div>
    <div class="due col-md-2">
      <button type="button" class="btn btn-sm date-modal-btn" data-toggle="modal" data-target="#dueDateModal">
                                            Set Reminder</button>
    </div>
    <div class="col-md-6 task-item">
        <p>this is the task item</p>
    </div>
    <div class="col-md-2">
        <div class="edit-delete-div">
            <div class="edit-btn">
                 <img src="./images/edit.svg" alt="edit button">
            </div>
            <div class="delete-btn">
                <img src="./images/minus.svg" alt="delete button">
            </div>
        </div>
    </div>
</div>