<h2 class="main-header">New List</h2>
<div class="task-manage-bar">
        <div class="task-container ">
            <form id="add-task">
                 <h2>Add New Checklist</h2>
                    <div class="modal-body">
                        <label for="checklist-name" class="col-form-label">Checklist Name</label>
                        <input type="text" id="checklist-name" name="checklist-name">
                        <h4>Add Tasks</h4>
                        <label for="task-input" class="col-form-label">Task</label>
                        <input type="text" id="task-input1">
                        <label for="task-input" class="col-form-label">Task</label>
                        <input type="text" id="task-input2">
                        <label for="task-input" class="col-form-label">Task</label>
                        <input type="text" id="task-input3"> 
                    </div>
                    <button type="button" class="btn" id="add-task-btn">Add Another Task</button>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="return-home-btn">Back to Home</button>
                        <button type="button" class="btn" id="save-changes-btn">Save changes</button>
                    </div>
            </form>
        </div>
</div>

<script src="/javascript/add-new.js"></script>