    <div class="container-fluid dash" id="home-dash-view">
        <div class="row">
            <div class="side-bar col-md-2">
                <div class="side-bar-content">
                    <h2 class="side-bar-title">Manage It</h1>
                        <div class="new-list-btn">
                            <div class="new-list-icon">
                                <img id="new-list-btn" src="./images/plus.svg" alt="plus-icon">
                            </div>
                            <h4>New List</h4>
                        </div>
                    <!-- checklist Lists for sidebar start -->
                    <div class="side-bar-list">
                        <ul class="list-group list-group-flush">
                            <h3 class="user-name"> 
                              
                                {{checklists.[0].user.name}}'s Checklists
                              
                            </h3>
                            {{#each checklists as |checklist|}}
                                <!-- list partial -->
                                {{> checklist-info checklist}}
                                <!-- list partial -->
                            {{/each}}
                        </ul>
                    </div>  
                    <!-- checklist Lists partial for sidebar end -->
                </div>
                <button id="logout" class="btn-no-style">logout</button>
            </div>
            <div class="col-md-10">
                <div class="main">
                 <!-- start dashboard partial -->
                  <!-- start dashboard partial -->
                    <h2 id="list-name-header" class="main-header"></h2>
                    <div class="task-manage-bar">
                        <div class="clear-all">
                            <img id="clear-all-btn" src="./images/minus.svg" alt="icon">
                            <p>Delete All Tasks</p>
                        </div>
                        <div class="reset-all">
                            <img id="reset-tasks-btn" src="./images/reset.svg" alt="icon">
                            <p>Uncheck All Tasks</p>
                            </div>
                        </div>
                        <div class="container-holder">
                            <div class="task-container container">
                               <!-- tasks info -->
                            </div>
                        </div>
                        <div class="add-task-container">
                            <form id="add-task">
                                <h3>Add New Task</h3>
                                <div class="modal-body">
                                    <label for="task-input" class="col-form-label">Task:</label>
                                    <input type="text" id="new-task-input">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" id="add-new-task-btn">Add Task</button>
                                </div>
                            </form>
                        </div>
                        <div class="row logout-mobile">
                            <div class="">
                                <h4><a href="/logout">Logout</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
    <!-- Due Date Modal -->
    <div class="modal fade" id="dueDateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Set a reminder:</h5>
                </button>
            </div>
            <form id="task-due-date" action="" class="modal-form">
                <div class="modal-body">
                    <label for="date-input" class="col-form-label">Remind Me:</label>
                    <input type="date" id="date-input" name="date-input">
                    <label for="time-input" class="col-form-label">Time Due:</label>
                    <input type="time" id="time-input" name="time-input">
                    <!-- Timezone -->
                    <label for="timezone">Choose your timezone:</label>
                    <select name="timezone" id="timezone" form="carform">
                        <option value="America/Los_Angeles">PST</option>
                        <option value="America/Denver">MST</option>
                        <option value="America/Chicago">CST</option>
                        <option value="America/New_York">EST</option>
                    </select>
                    <label for="phone">Enter your phone number:</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="8004445555">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Reminder</button>
                </div>
            </form>
        </div>
        </div>
    </div>

<script src="/javascript/fetch.js"></script>
<script src="/javascript/new-list.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/modalReminder.js"></script>
