<!---------------- main template above this line ------------>
    <div class="container-fluid dash">
        <div class="row">
            <div class="side-bar col-md-2">
                <div class="side-bar-content">
                    <h2 class="side-bar-title">Manage It</h1>
                        <div class="new-list-btn">
                            <div class="new-list-icon"><img src="./images/plus.svg" alt="plus-icon"></div>
                            <h4>New List</h4>
                        </div>
                    <!-- checklist Lists for sidebar start -->
                    <div class="side-bar-list">
                        <ul class="list-group list-group-flush">
                            <h3 class="user-name"> Joe's List</h3>
                            <!-- list partial -->
                            {{> checklist-info }}
                            <!-- list partial -->
                        </ul>
                    </div>  
                    <!-- checklist Lists partial for sidebar end -->
                </div>
                <h4 class="logout" ><a href="/logout">Logout</a></h4>
            </div>
            <div class="col-md-10">
                <div class="main">
                    <!-- start homeView partial -->
                    <h2 class="main-header">List One</h2>
                    <div class="task-container container">
                        <form id="edit-task">
                            <h2>Edit Task</h2>
                            <div class="modal-body">
                                <label for="task-input" class="col-form-label">Task:</label>
                                <input type="text" id="task-input">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" id="return-home-btn">Back to Home</button>
                                <button type="submit" class="btn" id="save-changes-btn">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         </div>
    </div>