<!---------------- main template above this line ------------>
    <div class="container-fluid dash">
        <div class="row">
            <div class="col-md-10">
                <div class="main">
                    <!-- start homeView partial -->
                    <h2 class="main-header">List One</h2>
                    <div class="task-container container">
                        <form id="edit-task">
                            <h2>Edit Task</h2>
                            <div class="modal-body">
                                <label for="task-input" class="col-form-label">Task:</label>
                                <input type="text" id="task-input">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" id="return-home-btn">Back to Home</button>
                                <button type="submit" class="btn" id="save-changes-btn">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         </div>
    </div>

    <script src="/javascript/edit-task.js"></script>