<div class="container-fluid signup-main">
        <div class="row">
          <div class="col-md-6">
            <div class="welcome-container">
                
                <h2>Welcome to Manage-it!</h2>
                <p>A checklist app to handle your simple and routine tasks</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="signup-container">
              <h2 class="signup-header">Sign Up</h2>
              <form class="signup-form">
                  <div>
                    <label for="name-input">First Name:</label>
                    <input type="text" id="name-input" />
                  </div>
                  <div>
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" />
                  </div>
                  <div>
                    <label for="phone-signup">Phone Number:</label>
                    <input type="tel" id="tel-signup" />
                  </div>
                  <div>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" />
                  </div>
                  <div>
                    <button class="signup-btn" type="submit">signup</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
</div>